@import '../../styles/base/colors';
@import '../../styles/utils/css-grids';
@import '../../styles/utils/media-queries';

.activities {

  > h1 {
    text-align: center;

    @include respond_to(desktop) {
      margin-top: 30px;
    }
  }

  h2 {
    margin: 30px 0 20px;
  }

  &__section {
    @include respond_to(mobile-medium-and-larger) {
      padding: 0 30px 50px;
    }

    @include respond_to(desktop) {
      padding: 0 100px 50px;
    }
  }

  &__image-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    height: 250px;

    @include respond_to(desktop) {
      height: 300px;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

    @supports (display: grid) {
      @include thirds-grid(auto-fit, stretch, 40px, 40px, 300px);

      @include respond_to(tablet-large-and-larger) {
        @include thirds-grid(auto-fit, stretch, 40px, 40px, 340px);
      }
    }

    > li {
      background-color: $white;
      border-radius: 10px;
      box-shadow: 0 0 100px 0 rgba(221, 221, 221, 0.55);
      flex-basis: 25%;
      flex-grow: 1;
      margin: 0 20px 40px;
      min-width: 300px;
      max-width: 300px;
      padding: 30px;  

      @supports (display: grid) {
        margin: 0;
        max-width: unset;
        min-width: unset;
      }

      > p {
        margin-bottom: 0;
      }
    }
  }
}
