// Coolers website where color palette came from
// https://coolors.co/7400b8-6930c3-5e60ce-5390d9-4ea8de-48bfe3-56cfe1-64dfdf-72efdd-80ffdb

$purple: #7400B8;
$violet: #6930C3;
$periwinkle: #5E60CE;
$blue: #5390D9;
$blue-jeans: #4EA8DE;
$blue-sky: #48BFE3;
$blue-aqua: #56CFE1;
$seafoam: #64DFDF;
$turqoise: #72EFDD;
$aquamarine: #80FFDB;

$white: #FFFFFF;
$title: #0A0A0A;
$content: #212121;
