@import './colors';
@import '../utils/media-queries';

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 28px;
  font-weight: 700;
  line-height: 38px;

  @include respond_to(tablet-and-larger) {
    font-size: 40px;
    line-height: 50px;
  }
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 34px;

  @include respond_to(tablet-and-larger) {
    font-size: 28px;
    line-height: 40px;
  }
}

h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

p, li {
  background: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin: 15px 0;
}

a {
  color: $blue;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 0;
  text-decoration: none;
  transition: color .35s linear;

  &:hover {
    color: darken($blue, 15%);  
    cursor: pointer;
    text-decoration: none;
  }
}
