@import '../../styles/base/colors';

.header {
  background-color: $periwinkle;
  display: flex;
  height: 90px;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 0;

  &__link {
    padding: 20px 0 10px;
    margin: 0 20px;

    &.active {
      border-bottom: 2px solid $white;
    }

    > a {
      color: $white;
    }
  }
}
