@import '../../styles/base/colors';
@import '../../styles/utils/media-queries';

.header {
  background-color: $periwinkle;
  height: 60px;
  z-index: 1;

  @include respond_to(tablet-and-larger) {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

.nav {

  &__desktop {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @include respond_to(tablet-and-larger) {
      justify-content: center;
    }

    &--list {
      visibility: hidden;

      @include respond_to(tablet-and-larger) {
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding-left: 0;
        visibility: visible;
      }
    }
  }

  &__link {
    padding: 20px 0 10px;
    margin: 0 20px;

    &.active {
      border-bottom: 2px solid $white;
    }

    > a {
      color: $white;
    }
  }
}
