@import 'base/reset';
@import 'base/colors';
@import 'base/typography';
@import 'utils/media-queries';

html,
body {
  padding: 0;
  margin: 0;
}

// Prevent scrolling on body when mobile nav menu is open
body {
  &.position-fixed {
    position: fixed;
  }
}

* {
  box-sizing: border-box;
}

main {
  // Required for IE11 to respect main styles
  display: block;
  padding: 20px;

  @include respond_to(tablet-and-larger) {
    // Show all page content by accounting for header height
    margin-top: 60px;
  }
}

.flex-wrapper {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flex-half {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  @include respond_to(mobile-large-and-larger) {
    min-width: 300px;
    width: 50%;
  }

  &-1 {
    order: 1;

    @include respond_to(mobile-large-and-larger) {
      order: 2;
    }
  }

  &-2 {
    order: 2;

    @include respond_to(mobile-large-and-larger) {
      order: 1;
    }
  }
}
