@import 'base/colors';
@import 'utils/media-queries';
@import 'utils/mixins';

.home {
  @include header-gradient-animation;
  animation: animatedGradient 6s ease infinite;
  align-items: center;
  background: linear-gradient(-40deg, $violet, $blue, $blue-aqua, $aquamarine);
  background-size: 200% 200%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // Full height of page less nav height
  height: calc(100vh -  60px);

  > h1 {
    color: $white;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
    text-align: center;

    @include respond_to(tablet-and-larger) {
      font-size: 100px;
      line-height: 110px;
      margin-bottom: 50px;
    }
  }

  > h2 {
    color: $white;
    margin-bottom: 20px;
    text-align: center;
  }

  > h3 {
    color: $white;
    margin-bottom: 10px;
    padding: 0 20px;
    text-align: center;
  }
}
